.project-card {
    background-color: dimgray;
    color: floralwhite;
}
.links {
    min-height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.links a {
    text-decoration: none;
    color: lime;
    border: 1px solid salmon;
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
}
.links a:hover {
    background-color: lime;
    color: black;
}