.about-section {
    background: url('https://image.freepik.com/free-vector/halftone-background-with-circles_23-2148907689.jpg');
    background-position: center;
    
    color: whitesmoke;
}
.about-columns {
    min-height: 80vh;
    width: 100%;
    display: block;
    margin: auto;
}
.about-first-column {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
}
.about-second-column {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 65%;
    padding: 15px;
}
.about-second-column p {
    text-align: justify;
    color: seashell;
}
.about-img {
    padding: 10px;
    background: white;
    
}
.about-img:hover {
    transform: translateY(-2.25%);
    border: 4px solid lightgray;
    border-radius: 7px;
    box-shadow: 1px 1px 5px salmon;
}
.contact-btn {
    margin: 5px;
    padding: 8px;
    font-size: 18px;
    font-weight: 500;
    border-radius: 5px;
    color: snow;
    box-shadow: 1px 1px 10px aquamarine;
    letter-spacing: 1px;
}
.contact-btn:hover {
    box-shadow: 1px 1px 10px hotpink;
    background-color: chartreuse;
    color: black;
}
.linkedin:hover {
    background-color: #0072b1;
    color: seashell;
}
.facebook:hover {
    background-color: #3b5998;
    color: seashell;
}
.youtube:hover {
    color: seashell;
    background-color: #FF0000;
}
.instagram:hover {
    color: seashell;
    background-image: linear-gradient(180deg, #8a3ab9, #fbad50, #cd486b, #4c68d7);
}
.github:hover {
    color: seashell;
    background-image: linear-gradient(180deg, #929292,dimgray);
}