* {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    transition: all 0.2s ease-in;
}
.side-space {
    display: block;
    width: 90%;
    margin: auto;
}
.btn-brand {
    background-color: rgba(77, 253, 236, 0.95);
    margin: 5px;
    padding: 8px;
    font-size: 19px;
    font-weight: 500;
    border-radius: 5px;
    box-shadow: 1px 1px 5px salmon;
    letter-spacing: 1px;
}
.btn-brand:hover {
    background-color: black;
    color: rgba(77, 253, 236, 0.95);
}
.text-brand {
    color: rgb(1, 228, 205);
}
.custom-brand {
    border-bottom: 2px solid darkblue;
}
.icons {
    font-size: 36px;
    margin: 5px;
    padding: 5px;
    color: whitesmoke;
    border-radius: 5px;
}
