nav {
    font-size: 20px;
    font-weight: 500;
}
.navbar {
    background: url('../../../images/blog-bg.jpg');
    min-height: 10vh;
    text-align: center;
}
.nav-links {
    margin: 0 10px;
    padding: 5px 8px;
    text-decoration: none;
    color: black;
}
.active {
    border-bottom: 2px solid green;
}
.nav-links:hover, .active:hover {
    background-color: rgba(0, 0, 0, 0.85);
    color: white;
    border-radius: 5px;
}