.navbar {
    background: transparent;
    min-height: 15vh;
    text-align: center;
}
.nav-links {
    margin: 0 15px;
    padding: 8px;
    text-decoration: none;
    color: black;
}
.active {
    border-bottom: 2px solid green;
}
.nav-links:hover, .active:hover {
    background-color: rgba(0, 0, 0, 0.85);
    color: white;
    border-radius: 5px;
}